/*=====================
    1.3 Button CSS
==========================*/
.btn-modal {
    padding: 0;
    border: none;
    font-size: 19px;
    line-height: 1;
}

.btn {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border: none;

    @include mq-max(md) {
        padding: 12px;
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
    }

    &-gradient,
    &-gradient-2 {
        color: rgba(var(--white), 1);
        background: var(--gradient);

        [class="dark"] & {
            color: #fff;
        }

        &:hover {
            color: rgba(var(--white), 1) !important;
        }

        &-3 {
            background: var(--gradient-color);
            border-radius: 6px;
            font-weight: 500;
        }

        &-outline {
            font-weight: 500;
            position: relative;
            padding: 15px;
            color: rgba(var(--title), 1);
            background-color: rgba(var(--white), 1);
            background-clip: padding-box;
            border: solid 1px transparent;
            border-radius: 6px;
            font-size: 16px;
            @include flex_common;
            gap: 5px;

            [class="dark"] & {
                background-color: #101214;
            }

            @include mq-max(md) {
                padding: calc(9px + (15 - 9) * ((100vw - 320px) / (600 - 320)));
                font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (600 - 320)));
            }

            i {
                line-height: 1;
                font-size: 18px;
            }

            &:before {
                @include pos;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -1px;
                border-radius: inherit;
                background: var(--gradient-color);
            }
        }
    }

    &-gradient-2 {
        background: var(--gradient);
    }

    &-theme {
        background-color: rgba(var(--theme-color), 1) !important;

        &:active {
            border-color: transparent !important;
        }
    }

    &-theme-outline {
        border: 1px solid rgba(var(--theme-color), 1) !important;
        color: rgba(var(--theme-color), 1) !important;
        background-color: rgba(var(--white), 1) !important;
        padding: 10px;
    }

    &-white {
        border-color: rgba(var(--white), 1);
        color: rgba(var(--theme-color), 1);
        background-color: rgba(var(--white), 1);
        padding: 12px;

        &:hover,
        &:active {
            border-color: rgba(var(--white), 1) !important;
            color: var(--theme-color) !important;
            background-color: rgba(var(--white), 1) !important;
        }

        [class="dark"] & {
            color: #fff !important;
        }
    }

    &-shadow {
        box-shadow: $shadow3;
    }

    &-white-outline {
        border: 2px solid rgba(var(--white), 1);
        color: rgba(var(--white), 1);
        background-color: transparent;

        [class="dark"] & {
            border-color: #fff;
            color: #efefef;
        }

        &:hover,
        &:active {
            border: 2px solid rgba(var(--white), 1) !important;
            color: rgba(var(--white), 1) !important;
            background-color: transparent !important;
        }
    }

    &-sm {
        padding: 5px 14px;
        font-size: 13px;
        font-weight: 500;
    }

    &-light {
        background-color: transparent;
        color: rgba(var(--title), 1);
        position: relative;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
        border: none;
        z-index: 0;

        [class="dark"] & {
            background-color: #27282f;
        }

        &:hover {
            background-color: transparent;
            color: rgba(var(--title), 1);
        }

        &:before {
            @include pos;
            top: 0;
            left: 0;
            @include pseudowh;
            background-color: rgba(var(--content), 1);
            opacity: 0.2;
            border-radius: 5px;
            z-index: -1;
        }
    }

    &.ecommerce-btn {
        font-weight: 600;
        font-size: 16px;
        color: rgba(var(--title), 1);

        @include mq-max(md) {
            font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
        }

        &-border {
            color: rgba(var(--white), 1);
            border: 1px solid rgba(var(--white), 1);
            border-radius: 6px;
        }

        &.theme-border {
            border: 1px solid rgba(var(--theme-color), 1);
            border-radius: 6px;
            color: rgba(var(--title), 1);

            &:hover {
                background-color: rgba(var(--theme-color), 1);
                color: rgba(var(--white), 1);
            }
        }
    }

    &.btn-gray {
        background-color: rgba(var(--grey), 1);
        color: rgba(var(--title), 1);
        border-radius: 6px;

        [class="dark"] & {
            background-color: #363636;
            color: #fff;
        }

        &:hover {
            background-color: rgba(var(--grey), 1);

            [class="dark"] & {
                background-color: #363636;
                color: #fff;
            }
        }
    }
}

.btn-food {
    background-color: rgba(var(--primary), 1);
    color: rgba(var(--white), 1);
    border-radius: 12px;
    font-weight: 600;
    font-size: 18px;

    [class="dark"] & {
        color: #fff;
    }

    &.food-white {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--title), 1);
        border-radius: 12px;

        [class="dark"] & {
            background-color: #171717;
            box-shadow: 2px 3px 6px rgba(57, 44, 44, 0.19);
        }

        &:hover {
            background-color: rgba(var(--white), 1);
            color: rgba(var(--title), 1);
        }
    }

    &.food-gray {
        background-color: rgba(var(--content), 1) !important;
        color: rgba(var(--white), 1) !important;
        border-radius: 12px;
    }

    &:hover {
        background-color: rgba(var(--primary), 1);
        color: rgba(var(--white), 1);
    }

    &:active {
        background-color: rgba(var(--primary), 1) !important;
        color: rgba(var(--white), 1) !important;
    }

    &:first-child {
        &:active {
            background-color: rgba(var(--primary), 1);
            color: rgba(var(--white), 1);
            border-color: transparent;
        }
    }

    &.btn-food-white {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--title), 1);
        border-radius: 12px;
    }
}

.white-button {
    padding: 8px 18px;
    background-color: rgba(var(--light-bg), 1);
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(var(--title), 1);

    @include mq-max(md) {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
    }

    @include mq-max(md) {
        font-size: calc(13px + (16 - 13) * ((100vw - 320px) / (600 - 320)));
    }

    &:hover {
        background-color: rgba(var(--light-bg), 1);
        color: rgba(var(--title), 1);
    }

    &:first-child {
        &:active {
            color: rgba(var(--title), 1);
            background-color: rgba(var(--light-bg), 1);
            border-color: transparent;
        }
    }
}

.cab-button {
    padding: 17px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: transparent;
    border-radius: 18px;

    @include mq-max(md) {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
    }

    @include mq-max(md) {
        padding: calc(14px + (17 - 14) * ((100vw - 320px) / (600 - 320)));
        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    &-gradient {
        background: var(--gradient2);
        color: rgba(var(--white), 1);

        [class="dark"] & {
            color: #efefef;
        }

        &:hover {
            color: #efefef;
        }
    }

    &-border {
        border: 1px solid rgba(var(--title), 1);
        border-radius: 18px;
        color: rgba(var(--title), 1);
    }
}

.find-button {
    font-weight: 500;
    font-size: 18px;
    background: var(--gradient2);
    border-radius: 18px;
    color: rgba(var(--white), 1);
    margin-top: 30px;
    padding: 17px;
    border: none;

    [class="dark"] & {
        color: #efefef;
    }

    @include mq-max(md) {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
    }

    @include mq-max(md) {
        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (600 - 320)));
        margin-top: calc(19px + (30 - 19) * ((100vw - 320px) / (600 - 320)));
        padding: calc(13px + (17 - 13) * ((100vw - 320px) / (600 - 320)));
    }

    &:hover {
        color: #efefef;
    }
}

.view-cart-button {
    width: auto;
    padding: 8px 21px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    @include flex_wrap($dis: flex, $wrap: nowrap, $gap: 6px);
    align-items: center;

    @include mq-max(md) {
        font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
    }

    &:active {
        background-color: rgba(var(--primary), 1);
        color: rgba(var(--white), 1);
        border-color: transparent;
    }
}

.cancellation-button {
    background-color: rgba(var(--border), 0.5);
    padding: 10px 17px;
    color: rgba(var(--title), 1);
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;

    &:hover {
        background-color: rgba(var(--border), 0.5);
        border-color: transparent;
    }
}

.grocery-btn {
    padding: 10px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    width: 100%;
    display: block;
    text-align: center;

    @include mq-max(md) {
        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (600 - 320)));
    }

    &.white-btn {
        color: rgba(var(--theme-color), 1);
        background-color: rgba(var(--white), 1);

        [class="dark"] & {
            background-color: #efefef;
        }
    }

    &.theme-btn {
        background-color: rgba(var(--theme-color), 1);
        color: rgba(var(--white), 1);

        [class="dark"] & {
            color: #fff;
        }
    }

    &.border-btn {
        border: 1px solid rgba(var(--theme-color), 1);
        color: rgba(var(--theme-color), 1);
        background-color: rgba(var(--white), 1);
    }

    &.fixed-button {
        position: fixed;
        bottom: 15px;
        margin: 0 15px;
        width: -webkit-fill-available;
        max-width: calc(600px - 30px);
        border: none;
    }
}

.financial-btn {
    padding: 15px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    color: rgba(var(--white), 1);
    border-radius: 9px;
    width: 100%;
    display: block;
    text-align: center;

    @include mq-max(md) {
        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (600 - 320)));
        padding: calc(11px + (15 - 11) * ((100vw - 320px) / (600 - 320)));
    }

    &:hover {
        color: rgba(var(--white), 1);
    }

    &.theme-maroon-btn {
        background-color: rgba(var(--theme-maroon), 1);
        font-weight: 400;
    }

    &.border-btn {
        border: 1px solid rgba(var(--white), 0.1);
        background-color: rgba(var(--title), 1);
    }
}

.blog-btn {
    border-radius: 18px;
    width: 100%;
    padding: 16px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;

    &.save-btn {
        display: block;
        text-align: center;
    }

    &.dark-btn {
        background-color: rgba(var(--title), 1);
        color: rgba(var(--white), 1);

        [class="dark"] & {
            background-color: #27282f;
            color: #fff;
        }
    }

    &.border-btn {
        border: 1px solid rgba(var(--theme-color), 1);
        color: rgba(var(--title), 1);
        background-color: rgba(var(--white), 1);
    }
}

.fitness-btn {
    padding: 11px;
    border-radius: 6px;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    line-height: 1.3;

    @include mq-max(md) {
        font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (600 - 320)));
    }

    &.btn-outline {
        border: 1px solid rgba(var(--theme-color), 1);
        background-color: transparent;
        color: rgba(var(--theme-color), 1);
    }

    &.white-btn {
        background-color: rgba(var(--white), 1);
        color: rgba(var(--title), 1);

        [class="dark"] & {
            background-color: #212332;
        }
    }

    &.white-outline-btn {
        background-color: transparent;
        border: 1px solid rgba(var(--white), 1);
        color: rgba(var(--white), 1);
    }

    &.gradient-btn {
        background: var(--gradient-color);
        color: rgba(var(--white), 1);

        [class="dark"] & {
            color: #efefef;
        }
    }
}

.nft-btn {
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    display: block;
    padding: 16px;
    border: none;
    background-color: transparent;
    line-height: 1;

    &.dark-btn {
        color: rgba(var(--white), 1);
        background-color: rgba(var(--main-dark), 1);

        [class="dark"] & {
            color: #fff;
        }
    }
}

.nft-checkout-button {
    padding-inline: 15px;
    position: fixed;
    bottom: 81px;
    width: 100%;
    max-width: 600px;
    text-align: center;

    .checkout-btn {
        color: rgba(var(--title), 1);
        border: 1px solid rgb(175, 175, 175);
        border-radius: 6px;
        width: 100%;
        padding: 15px;

        @include mq-max(md) {
            padding: calc(11px + (15 - 11) * ((100vw - 320px) / (600 - 320)));
        }
    }
}