/*===================== 
    5.1 Blog Application CSS
==========================*/
/* ---------- Blog Onboarding ---------- */
.starting-section {
    .onboarding-image {
        @include pseudowh($width: 100%, $height: 100vh);
        overflow: hidden;

        img {
            @include pseudowh;
            object-fit: cover;
        }
    }

    .onbording-content {
        position: fixed;
        bottom: 62px;
        @include center(horizontal);
        width: 100%;
        max-width: 600px;
        padding-inline: 15px;
        display: flex;
        align-items: flex-end;

        .button-group-list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            li {
                width: 100%;

                &:first-child {
                    .blog-button {
                        background-color: rgba(var(--title), 1);
                        color: rgba(var(--white), 1);

                        [class="dark"] & {
                            background-color: #121316;
                            color: #fff;
                        }
                    }
                }

                .blog-button {
                    padding: 15px;
                    background-color: rgba(var(--white), 1);
                    border-radius: 6px;
                    font-weight: 500;
                    font-size: 16px;
                    color: rgba(var(--title), 1);
                    @include flex_common;
                    gap: 10px;
                    line-height: 1;

                    [class="dark"] & {
                        background-color: #121316;
                    }

                    svg {
                        @include pseudowh($width: 20px, $height: 20px);
                        fill: rgba(var(--title), 1);
                    }
                }
            }
        }
    }
}

/* ---------- Blog Onboarding ---------- */
.choose-topic-section {
    @include pseudowh;
    display: flex;
    align-items: center;

    .choose-topic-box {
        padding-bottom: 24%;

        .topic-title {
            margin-bottom: 18px;

            h1 {
                font-weight: 500;
                font-size: 28px;
            }
        }
    }

    .topic-list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;

        @include mq-max(md) {
            gap: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
        }

        li {
            &.active {
                .topic-box {
                    background-color: rgba(var(--theme-color), 1);
                    color: rgba(var(--white), 1);

                    [class="dark"] & {
                        background-color: rgba(var(--theme-color), 1);
                        color: #ffffff;
                    }

                    i {
                        color: rgba(var(--white), 1);

                        [class="dark"] & {
                            color: #ffffff;
                        }
                    }
                }
            }

            .topic-box {
                display: block;
                padding: 15px;
                background-color: rgb(251, 251, 251);
                border-radius: 18px;
                color: rgba(var(--title), 1);
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 8px;
                text-align: center;

                @include mq-max(md) {
                    border-radius: calc(9px + (18 - 9) * ((100vw - 320px) / (600 - 320)));
                }

                [class="dark"] & {
                    background-color: #27282f;
                }

                i {
                    font-size: 30px;
                    line-height: 1;
                    color: #787878;
                }

                h5 {
                    width: 100%;
                    font-weight: 500;
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
    }

    .next-button {
        display: block;
        text-align: center;
        margin-top: 28px;
    }
}

/* ---------- Blog Home CSS ---------- */
.privacy-setting-section {
    .privacy-setting-form {
        .form-switch {
            @include flex_common ($dis: flex, $align: center, $justify: space-between);
            padding: 0;
            margin: 0;
            min-height: unset;

            +.form-switch {
                margin-top: 12px;
                padding-top: 12px;
                border-top: 1px solid rgba(221, 221, 221, 0.4);

                [class="dark"] & {
                    border-color: rgba(255, 255, 255, 0.1);
                }
            }

            .form-check-input {
                margin: 0;
                @include pseudowh($width: 39px, $height: 18px);
                float: unset;
                border-radius: 100px;
                position: relative;
                background: none;
                cursor: pointer;
                border-color: #eee;

                [class="dark"] & {
                    border-color: rgba(255, 255, 255, 0.1);
                    background-color: #27282f;
                }

                &:focus {
                    box-shadow: none;
                    background-image: none;
                }

                &:active {
                    filter: none;
                }

                &:checked {
                    background-color: rgba(var(--theme-color), 1);
                    border-color: rgba(var(--theme-color), 1);

                    &:focus {
                        background-image: none;
                    }

                    &::before {
                        left: 22px;
                        background-color: rgba(var(--white), 1);

                        [class="dark"] & {
                            background-color: #27282f;
                        }
                    }
                }

                &::before {
                    @include pos;
                    @include pseudowh($width: 13px, $height: 13px);
                    border-radius: 100%;
                    background-color: rgba(var(--theme-color), 1);
                    @include center(vertical);
                    left: 2px;
                    transition: left 0.2s ease-in-out;
                }
            }

            .form-check-label {
                font-size: 15px;
                font-weight: 500;
                color: rgba(var(--content), 1);
            }
        }
    }
}

.date-time-list {
    display: flex;
    align-items: center;
    color: rgba(var(--content), 1);
    font-weight: 400;
    font-size: 15px;
    gap: 10px;

    @include mq-max(md) {
        font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (600 - 320)));
        gap: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        line-height: 1;

        &.dots {
            @include pseudowh($width: 4px, $height: 4px);
            background-color: rgba(var(--content), 1);
            border-radius: 100%;
        }
    }
}

/* ---------- Last Reading Article CSS ---------- */
.last-reading-list {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    li {
        width: 100%;

        .last-reading-box {
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: rgba(var(--white), 1);
            box-shadow: 0px -1px 17px 0px rgba(var(--title), 0.05);
            border-radius: 8px;
            padding: 6px;
            color: rgba(var(--title), 1);

            [class="dark"] & {
                background-color: #27282f;
            }

            .last-reading-image {
                @include pseudowh($width: 70px, $height: 70px);
                display: block;
                border-radius: 6px;
                overflow: hidden;
            }

            .last-reading-content {
                width: calc(100% - 70px - 10px);

                h6 {
                    font-weight: 500;
                    font-size: 15px;
                    margin-bottom: 13px;
                    line-height: 1.5;
                }

                .progress {
                    height: 5px;
                    border-radius: 100px;

                    [class="dark"] & {
                        background-color: #121316;
                    }

                    .progress-bar {
                        background-color: rgba(var(--theme-color), 1);
                        border-radius: 100px;
                    }
                }
            }
        }
    }
}

/* ---------- category-content CSS ---------- */
.category-content-list {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    li {
        width: 100%;

        .category-content-box {
            display: flex;
            gap: 10px;
            border-radius: 8px;

            .category-content-image {
                @include pseudowh($width: 85px, $height: 85px);
                display: block;
                border-radius: 6px;
                overflow: hidden;

                @media (max-width: 360px) {
                    @include pseudowh($width: 65px, $height: 65px);
                }
            }

            .category-content-content {
                width: calc(100% - 85px - 10px);

                @media (max-width: 360px) {
                    width: calc(100% - 65px - 10px);
                }

                .top-category {
                    font-weight: 400;
                    font-size: 13px;
                    margin-bottom: 4px;
                    color: rgba(var(--content), 1);
                    line-height: 1;
                    margin-top: -1px;
                    display: block;
                }

                .time-zone-list {
                    display: flex;
                    align-items: center;
                    gap: 9px;
                    margin-top: 11px;
                    flex-wrap: wrap;

                    @include mq-max(md) {
                        gap: calc(2px + (9 - 2) * ((100vw - 320px) / (600 - 320)));
                        margin-top: calc(6px + (11 - 6) * ((100vw - 320px) / (600 - 320)));
                    }

                    li {
                        width: unset;

                        .time-zone-box {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            color: rgba(var(--content), 1);

                            @include mq-max(md) {
                                gap: calc(1px + (5 - 1) * ((100vw - 320px) / (600 - 320)));
                            }

                            i {
                                line-height: 1;
                            }

                            span {
                                font-size: 13px;
                                font-weight: 400;
                            }
                        }
                    }
                }

                a {
                    color: rgba(var(--title), 1);

                    h6 {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 1.5;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }

                .progress {
                    height: 5px;
                    border-radius: 100px;

                    .progress-bar {
                        background-color: rgba(var(--theme-color), 1);
                        border-radius: 100px;
                    }
                }
            }

            &.add-box {
                position: relative;
                overflow: hidden;
                border-radius: 0;

                &::before {
                    @include pos($pos: absolute, $content: "Ad.");
                    top: -18px;
                    right: -42px;
                    background-color: rgba(var(--theme-color), 1);
                    color: rgba(var(--white), 1);
                    padding: 22px 40px 2px;
                    transform: rotate(34deg);
                    font-weight: 500;
                    font-size: 12px;

                    [dir="rtl"] & {
                        right: unset;
                        left: -42px;
                        transform: rotate(-34deg);
                    }
                }
            }

            &-bg {
                background-color: rgba(var(--title), 0.05);
                padding: 13px;
                border-radius: 6px;
                gap: 14px;

                .category-content-content {
                    width: calc(100% - 85px - 14px);

                    h6 {
                        font-size: 14px !important;
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

/* ---------- single blog CSS ---------- */
.single-blog-home-section {
    height: 240px;
    overflow: hidden;
    position: relative;

    .bg-image {
        @include pseudowh;
        object-fit: cover;
    }

    .single-blog-home-box {
        position: absolute;
        top: 0;
        left: 0;
        @include pseudowh;
        background: linear-gradient(359.1deg,
                rgba(var(--black), 0.51) 1.86%,
                rgba(153, 153, 153, 0.208528) 81.75%,
                rgba(186, 186, 186, 0.141915) 99.41%,
                rgba(217, 217, 217, 0) 99.42%);
        display: flex;
        align-items: flex-end;
        padding: 0 15px 13px;

        .single-profile-content {
            display: flex;
            align-items: center;
            gap: 6px;
            width: 100%;

            .profile-image {
                @include pseudowh($width: 44px, $height: 44px);
                overflow: hidden;
                border-radius: 100%;
            }

            .profile-name {
                @include flex_common($dis: flex, $align: center, $justify: space-between);
                width: calc(100% - 44px - 6px);

                .name {
                    font-weight: 600;
                    font-size: 15px;
                    color: rgba(var(--white), 1);
                    margin-bottom: 2px;
                }

                .mail {
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(var(--white), 1);
                }

                .follow-btn {
                    background-color: rgba(var(--theme-color), 1);
                    padding: 5px 18px 3px;
                    border-radius: 100px;
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(var(--title), 1);
                }
            }
        }
    }
}

/* ---------- Single Blog Details CSS ---------- */
.single-blog-details {
    margin-top: 19px;
    margin-bottom: 18px;

    h4 {
        font-weight: 500;
        font-size: 17px;
        margin-bottom: 5px;
    }
}

.single-blog-container {
    .quotes-box {
        display: flex;
        gap: 10px;
        margin-bottom: 19px;

        .quotes-icon {
            @include pseudowh($width: 30px, $height: 30px);
            background-color: rgba(var(--theme-color), 1);
            border-radius: 6px;
            @include flex_common;
            font-size: 20px;
            margin-top: 3px;

            i {
                line-height: 1;
            }
        }

        .quotes-content {
            width: calc(100% - 30px - 10px);

            h5 {
                line-height: 1.5;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    .quotes-details {
        p {
            font-weight: 400;
            font-size: 14px;
            color: rgba(var(--content), 1);
            line-height: 1.5;
            margin-bottom: 0;

            +p {
                margin-top: 16px;
            }
        }
    }
}

.comment-list-box {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    >li {
        width: 100%;

        .comment-box {
            display: flex;
            gap: 8px;

            .comment-image {
                @include pseudowh($width: 47px, $height: 47px);
                border-radius: 100%;
                overflow: hidden;
            }

            .comment-details {
                width: calc(100% - 8px - 47px);

                h5 {
                    font-size: 14px;
                    font-weight: 600;
                }

                p {
                    font-weight: 400;
                    font-size: 14px;
                    margin-top: 7px;
                    color: rgba(var(--content), 1);
                    margin-bottom: 14px;

                    @include mq-max(md) {
                        font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (600 - 320)));
                        margin-top: calc(4px + (7 - 4) * ((100vw - 320px) / (600 - 320)));
                        margin-bottom: calc(8px + (14 - 8) * ((100vw - 320px) / (600 - 320)));
                    }
                }
            }
        }

        .comment-reply-box {
            padding-left: 54px;
            margin-top: 18px;
            flex-wrap: wrap;
            gap: 24px;
            display: flex;

            @include mq-max(md) {
                padding-left: calc(24px + (54 - 24) * ((100vw - 320px) / (600 - 320)));
            }

            >li {
                width: 100%;
            }
        }
    }
}

.form-write {
    .form-box {
        position: relative;

        .form-control {
            background-color: rgb(250, 250, 250);
            border-radius: 7px;
            border: none;
            padding: 13px 17px;
            font-weight: 400;
            font-size: 14px;

            [class="dark"] & {
                background-color: rgba(63, 69, 80, 0.1);
                color: #f5f5f5;
            }
        }

        i {
            position: absolute;
            @include center(vertical);
            right: 13px;
            font-size: 19px;
            color: rgba(var(--content), 1);

            [dir="rtl"] & {
                right: unset;
                left: 13px;
            }
        }
    }
}

.trending-list {
    display: flex;
    align-items: center;
    gap: 7px 12px;
    flex-wrap: wrap;

    @include mq-max(md) {
        gap: calc(5px + (7 - 5) * ((100vw - 320px) / (600 - 320))) calc(7px + (12 - 7) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        a {
            padding: 8px 17px;
            border-radius: 100px;
            background-color: rgba(var(--theme-color), 1);
            font-weight: 400;
            font-size: 14px;
            color: rgba(var(--title), 1);
            display: block;

            @include mq-max(md) {
                padding: calc(6px + (8 - 6) * ((100vw - 320px) / (600 - 320))) calc(12px + (17 - 12) * ((100vw - 320px) / (600 - 320)));
            }

            [class="dark"] & {
                background-color: #27282f;
            }
        }
    }
}

/* ---------- Post Bottom Option CSS ---------- */
.post-bottom-section {
    position: fixed;
    bottom: 0;
    @include center(horizontal);
    width: 100%;
    max-width: 600px;
    border-top: 1px solid rgba(var(--border-color), 0.3);
    padding: 15px;
    background-color: rgba(var(--white), 1);

    [class="dark"] & {
        border-top-color: #5252528a;
        background-color: #18181a;
    }

    .post-bottom-box {
        @include flex_common($dis: flex, $align: center, $justify: space-between);

        .left-button-list {
            display: flex;
            align-items: center;
            gap: 38px;

            li {
                a {
                    font-size: 24px;
                    color: rgba(var(--content), 1);
                }
            }
        }
    }

    .right-button {
        .done-button {
            color: rgba(var(--title), 1);
            border: none;
            font-weight: 500;
            font-size: 14px;
            padding: 8px 30px;
            background-color: rgba(var(--theme-color), 1);
            border-radius: 6px;
        }
    }
}

/* ---------- Add Post Details CSS ---------- */
.add-post-header {
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;

    [class="dark"] & {
        border-color: #525252;
    }

    .add-post-title {
        @include flex_common($dis: flex, $align: center, $justify: space-between);

        h4 {
            font-size: 16px;
            font-weight: 600;
        }

        a {
            color: rgba(var(--title), 1);
            display: flex;

            i {
                font-size: 24px;
                line-height: 1;
            }
        }
    }
}

/* ---------- Notification CSS ---------- */
.blog-notification-section {
    .notification-list {
        margin-top: 14px;
        display: flex;
        flex-wrap: wrap;
        gap: 13px;

        li {
            width: 100%;

            &:nth-child(-n + 2) {
                .notification-box {
                    background-color: rgba(var(--content), 0.12);

                    [class="dark"] & {
                        background-color: rgba(var(--content), 0.12);
                    }
                }
            }

            .notification-box {
                display: flex;
                align-items: center;
                gap: 13px;
                background-color: rgb(251, 251, 251);
                padding: 13px;
                border-radius: 6px;
                position: relative;
                box-shadow: 0px -1px 17px 0px rgba(var(--title), 0.05);

                @include mq-max(md) {
                    gap: calc(6px + (13 - 6) * ((100vw - 320px) / (600 - 320)));
                    padding: calc(9px + (13 - 9) * ((100vw - 320px) / (600 - 320)));
                }

                .notification-close {
                    position: absolute;
                    top: 13px;
                    right: 13px;
                    padding: 0;
                    width: auto;
                    line-height: 1;
                    font-size: 18px;
                    color: rgba(var(--title), 1);

                    [dir="rtl"] & {
                        right: unset;
                        left: 13px;
                    }

                    @include mq-max(md) {
                        top: calc(9px + (13 - 9) * ((100vw - 320px) / (600 - 320)));
                        right: calc(9px + (13 - 9) * ((100vw - 320px) / (600 - 320)));

                        [dir="rtl"] & {
                            right: unset;
                            left: calc(9px + (13 - 9) * ((100vw - 320px) / (600 - 320)));
                        }
                    }
                }

                [class="dark"] & {
                    background-color: #18181a;
                }

                .notification-image {
                    @include pseudowh($width: 70px, $height: 70px);
                    display: block;
                    border-radius: 6px;
                    overflow: hidden;
                }

                .notification-content {
                    width: calc(100% - 70px - 13px);

                    @include mq-max(md) {
                        width: calc(100% - 70px - calc(6px + (13 - 6) * ((100vw - 320px) / (600 - 320))));
                    }

                    .top-category {
                        font-weight: 400;
                        font-size: 12px;
                        margin-bottom: 4px;
                        color: rgba(var(--content), 1);
                    }

                    .time-zone-list {
                        display: flex;
                        align-items: center;
                        gap: 9px;
                        margin-top: 11px;
                        flex-wrap: wrap;

                        @include mq-max(md) {
                            gap: calc(2px + (9 - 2) * ((100vw - 320px) / (600 - 320)));
                            margin-top: calc(6px + (11 - 6) * ((100vw - 320px) / (600 - 320)));
                        }

                        li {
                            width: unset;

                            .time-zone-box {
                                display: flex;
                                align-items: center;
                                gap: 5px;
                                color: rgba(var(--content), 1);

                                i {
                                    line-height: 1;
                                }

                                span {
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }

                    a {
                        color: rgba(var(--title), 1);

                        h6 {
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 1.5;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            display: -webkit-box;
                            overflow: hidden;
                        }
                    }

                    .date {
                        margin-top: 3px;
                        font-weight: 400;
                        font-size: 13px;
                        color: rgba(var(--content), 1);
                    }
                }
            }
        }
    }
}

/* ---------- Profile Box CSS ---------- */
.blog-author-box {
    display: flex;
    align-items: center;
    gap: 15px;

    .author-image {
        @include pseudowh($width: 78px, $height: 78px);
        overflow: hidden;
        border-radius: 100%;
    }

    .author-name {
        width: calc(100% - 78px - 15px);

        h4 {
            color: rgba(var(--title), 1);
            font-weight: 600;
            font-size: 16px;
        }

        h5 {
            font-weight: 400;
            margin-top: 4px;
            color: rgba(var(--content), 1);
        }
    }
}

/* ---------- Follow Box CSS ---------- */
.author-follow-list {
    display: flex;
    align-items: center;

    &.author-border {
        padding-block: 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;

        @include mq-max(md) {
            padding-block: calc(15px + (20 - 15) * ((100vw - 320px) / (600 - 320)));
        }

        [class="dark"] & {
            border-color: rgba(255, 255, 255, 0.1);
        }
    }

    li {
        width: 100%;
        text-align: center;

        +li {
            border-left: 1px solid rgba(var(--grey), 1);

            [dir="rtl"] & {
                border-left: unset;
                border-right: 1px solid rgba(var(--grey), 1);
            }

            [class="dark"] & {
                border-color: rgba(255, 255, 255, 0.1);
            }
        }

        h2 {
            font-weight: 600;

            @include mq-max(md) {
                font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (600 - 320)));
            }
        }

        h5 {
            margin-top: 1px;
            color: rgba(var(--content), 1);
        }
    }
}

/* ---------- Profile Menu List CSS ---------- */
.blog-profile-box {
    .profile-box-list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 15px;
        margin-top: 41px;

        li {
            a {
                background-color: rgb(251, 251, 251);
                border-radius: 18px;
                display: block;
                padding: 15px 36px;
                text-align: center;
                color: rgba(var(--title), 1);

                [class="dark"] & {
                    background-color: #27282f;
                }

                i {
                    font-size: 26px;
                    margin-bottom: 9px;
                }
            }
        }
    }

    .logout-btn {
        font-size: 14px;
        display: block;
        text-align: center;
        color: rgba(var(--title), 1);
        border: 1px solid rgba(var(--theme-color), 1);
        border-radius: 6px;
        margin-top: 27px;
    }
}

/* ---------- Discover People CSS ---------- */
.discover-people-section {
    height: auto;
    padding-bottom: 105px;

    .topic-title {
        padding-top: 8px;
        padding-bottom: 19px;

        h1 {
            font-weight: 500;
            font-size: 28px;
        }
    }
}

.next-button-box {
    position: fixed;
    padding-inline: 15px;
    margin: 00;
    max-width: calc(600px - 30px);
    bottom: 0;
    @include center(horizontal);
    width: 100%;
    border-top: 1px solid rgba(175, 175, 175, 0.3);
    padding: 15px;
    background-color: rgba(var(--white), 1);

    .next-button {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        transform: unset;
        max-width: unset;
    }
}

.discover-people-name-list {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;

    li {
        width: 100%;

        .discover-people-box {
            display: flex;
            align-items: center;
            gap: 10px;
            color: rgba(var(--title), 1);

            .people-image {
                @include pseudowh($width: 50px, $height: 50px);
                border-radius: 100%;
                overflow: hidden;
            }

            .people-content {
                @include flex_common($dis: flex, $align: center, $justify: space-between);
                width: calc(100% - 50px - 10px);

                h5 {
                    color: rgba(var(--title), 1);
                    font-size: 15px;
                    margin-bottom: 6px;
                }

                h6 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);
                }

                .follow-button {
                    border: none;
                    background-color: rgba(var(--title), 1);
                    color: rgba(var(--white), 1);
                    font-size: 13px;
                    padding: 8px 15px;
                    line-height: 1;
                    border-radius: 100px;
                    border: 1px solid transparent;

                    [class="dark"] & {
                        color: #eee;
                        background-color: #27282f;
                    }

                    &.follow-outline-button {
                        background-color: rgba(var(--white), 1);
                        color: rgba(var(--title), 1);
                        border-color: rgba(var(--title), 1);
                    }
                }
            }
        }
    }
}

.post-section {
    margin-top: 35px;

    @include mq-max(md) {
        margin-top: calc(22px + (35 - 22) * ((100vw - 320px) / (600 - 320)));
    }

    .add-post-form {
        .post-writing-box {
            input {
                font-weight: 500;
                font-size: 16px;
                padding: 0 0 13px;
                border: none;
                border-bottom: 1px solid rgb(245, 245, 245);
                margin-bottom: 13px;
                border-radius: 0;
                color: rgba(var(--title), 1);

                @include mq-max(md) {
                    padding: 0 0 calc(6px + (13 - 6) * ((100vw - 320px) / (600 - 320)));
                    margin-bottom: calc(10px + (13 - 10) * ((100vw - 320px) / (600 - 320)));
                }

                [class="dark"] & {
                    background-color: transparent;
                    border-color: rgb(82, 82, 82);
                    color: rgba(255, 255, 255, 0.9);
                }
            }

            textarea {
                border-radius: 0;
                height: calc(100vh - 172px);
                min-height: unset;
                font-weight: 500;
                font-size: 16px;
                padding: 0;
                border: none;
                color: rgba(var(--content), 1);
                padding-bottom: 50px;

                @include mq-max(md) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }

                [class="dark"] & {
                    background-color: transparent;
                    border-color: #525252;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
        }
    }
}

.add-post-bg-image-section {
    @include pseudowh($width: 264px, $height: 264px);
    position: fixed;
    @include center(both);
    opacity: 0.1;
    @include flex_common($dis: flex, $align: flex-end, $justify: space-between);

    @include mq-max(md) {
        @include pseudowh($width: calc(200px + (264 - 200) * ((100vw - 320px) / (600 - 320))), $height: calc(200px + (264 - 200) * ((100vw - 320px) / (600 - 320))));
    }

    img {
        z-index: -1;
        position: relative;
        @include pseudowh;
        object-fit: contain;
    }
}

.blog-theme-form {
    .gender-list {
        .form-check {
            padding: 0;

            .form-check-input {
                float: unset;
                margin: 0;
                background-image: unset;
                position: relative;
                box-shadow: unset;
                border: 1px solid rgba(var(--border-color), 1);

                [class="dark"] & {
                    background-color: #121316;
                    border-color: rgba(255, 255, 255, 0.1);
                }

                &::before {
                    @include pos;
                    @include center(both);
                    @include pseudowh($width: 8px, $height: 8px);
                    background-color: rgba(var(--white), 1);
                    border-radius: 100%;
                }

                &:checked {
                    border-color: rgba(var(--theme-color), 1);
                    background-color: rgba(var(--theme-color), 1);
                }
            }
        }
    }
}