/*===================== 
   5.6 Fitness Application CSS
==========================*/
/* ---------- Step Box Divider Css ---------- */
.step-divider {
    background-color: rgb(248, 248, 248);
    box-shadow: inset 0px 2px 7px rgba(var(--black), 0.08);
    @include pseudowh($width: 100%, $height: 12px);
    margin-top: 25px;
    margin-bottom: 22px;

    @include mq-max(md) {
        height: calc(7px + (12 - 7) * ((100vw - 320px) / (600 - 320)));
        margin-top: calc(19px + (25 - 19) * ((100vw - 320px) / (600 - 320)));
        margin-bottom: calc(16px + (22 - 16) * ((100vw - 320px) / (600 - 320)));
    }

    [class="dark"] & {
        background-color: #212332;
    }
}

/* ---------- Step Line Css ---------- */
.step-content-box {
    margin-bottom: 26px;

    h3 {
        font-weight: 600;
        margin-bottom: 4px;
    }

    p {
        font-weight: 500;
        font-size: 15px;
        color: rgba(var(--title), 0.6);
        margin: 0;
    }
}

.tab-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 7px;

    span {
        appearance: none;
        background-color: #e2e2e2;
        border: none;
        border-radius: 100px;
        @include pseudowh($width: 100%, $height: 5px);
        @include flex_common;

        [class="dark"] & {
            background-color: #212332;
        }

        &.active {
            background-color: #4466f2;
            color: white;
        }
    }
}

.step-box-form {
    .form-check {
        padding: 0;
        min-height: unset;
        margin-bottom: 0;
        display: flex;

        +.form-check {
            margin-top: 17px;

            @include mq-max(md) {
                font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .form-check-label {
            font-weight: 500;
            font-size: 16px;
        }
    }

    .checkbox_animated {
        cursor: pointer;
        position: relative;
        @include pseudowh($width: 20px, $height: 100%);
        float: unset;
        margin: 0;
        border: none;
        margin-top: 2px;
        margin-right: 13px;

        [dir="rtl"] & {
            margin-right: unset;
            margin-left: 13px;
        }

        &:before {
            @include pos;
            @include pseudowh($width: 9px, $height: 5px);
            transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
            transform: rotate(-45deg) scale(0, 0);
            left: 4px;
            top: 6px;
            z-index: 1;
            border: 1px solid rgba(var(--white), 1);
            border-top-style: none;
            border-right-style: none;

            [dir="rtl"] & {
                left: 6px;
            }
        }

        &:after {
            @include pos;
            @include pseudowh($width: 20px, $height: 20px);
            top: 0;
            left: -1px;
            border-radius: 3px;
            background-color: rgba(var(--grey), 1);
            border-color: transparent;
            cursor: pointer;

            [class="dark"] & {
                background-color: #212332;
            }

            [dir="rtl"] & {
                left: unset;
                right: 0;
            }
        }

        &:focus {
            box-shadow: none;
        }

        &:checked {
            background-color: transparent;
            border-color: transparent;

            &::after {
                background-color: rgba(var(--theme-color), 1);
            }

            &:before {
                transform: rotate(-45deg) scale(1, 1);
            }
        }
    }
}

.fitness-next-step-button {
    position: fixed;
    bottom: 40px;
    @include center(horizontal);
    max-width: 600px;
    width: 100%;
    padding-inline: 15px;

    @include mq-max(md) {
        bottom: calc(22px + (40 - 22) * ((100vw - 320px) / (600 - 320)));
    }
}

.fitness-radio-box {
    .form-check {
        cursor: pointer;
        transition: background 0.2s ease;
        margin: 0;
        min-height: auto;
        padding-left: unset;
        @include flex_wrap($dis: flex, $wrap: wrap, $gap: 6px);
        align-items: center;

        [dir="rtl"] & {
            padding-right: 0;
        }

        &+.form-check {
            margin-top: 10px;
        }

        .form-check-label {
            font-weight: 400;
            font-size: 16px;
        }

        .form-check-input {
            vertical-align: middle;
            @include pseudowh($width: 20px, $height: 20px);
            background-color: rgba(var(--grey), 1);
            border-radius: 10px;
            background-color: none;
            border: 0;
            appearance: none;
            padding: 0;
            margin: 0;
            transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
            pointer-events: none;

            [class="dark"] & {
                background-color: #212332;
            }

            &:checked {
                background-color: rgba(var(--grey), 1);

                [class="dark"] & {
                    background-color: #212332;
                }

                &[type="radio"] {
                    background-image: url(../images/fitness/dots.svg);
                    background-size: 8px;
                }
            }

            &:focus {
                box-shadow: none;
            }
        }
    }

    .dropdown-box {
        margin-top: 28px;

        .form-check-label {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
        }

        .dropdown-button {
            background-color: rgba(var(--grey), 1);
            border-radius: 7px;
            font-weight: 400;
            font-size: 16px;
            color: rgba(var(--dark-gray), 1);
            text-align: left;
            padding: 12px 20px;
            position: relative;

            [dir="rtl"] & {
                text-align: right;
            }

            [class="dark"] & {
                background-color: #212332;
                color: #fff;
            }

            &:focus-within {
                box-shadow: none;
            }

            &::before {
                right: 16px;
                @include pos($pos: absolute, $content: "\EA4E");
                @include font;
                @include center(vertical);
                font-size: 24px;

                [dir="rtl"] & {
                    right: unset;
                    left: 16px;
                }
            }

            &.show {
                border: none;
            }
        }

        .dropdown-menu {
            background-color: rgba(var(--grey), 1);
            border-radius: 7px;
            padding: 12px 20px;
            width: 100%;
            margin-top: 5px !important;
            border: none;

            [class="dark"] & {
                background-color: #212332;
            }

            li {
                +li {
                    padding-top: 5px;
                }

                .dropdown-item {
                    padding: 0;
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(var(--dark-gray), 1);

                    [class="dark"] & {
                        color: #ddd;
                    }

                    &:hover,
                    &:active {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

/* ---------- Date List Css ---------- */
.date-list-box {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    overflow: auto;
    padding-bottom: 10px;

    li {
        &.active {
            a {
                background: var(--gradient-color);
                color: rgba(var(--white), 1);
                box-shadow: 0px 3px 4px rgba(51, 131, 239, 0.21);
            }
        }

        &.padding {
            a {
                &::before {
                    opacity: 1;
                }
            }
        }

        a {
            background-color: rgba(var(--white), 1);
            display: block;
            box-shadow: 2px 3px 6px rgba(213, 213, 213, 0.42);
            border-radius: 5px;
            @include pseudowh($width: 42px, $height: 42px);
            @include flex_common;
            font-weight: 400;
            font-size: 18px;
            color: rgba(var(--content), 1);
            position: relative;

            @include mq-max(md) {
                font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (600 - 320)));
            }

            [class="dark"] & {
                background-color: #212332;
                box-shadow: 2px 3px 6px rgba(213, 213, 213, 0.04);
                color: #fff;
            }

            &::before {
                @include pos;
                top: 6px;
                right: 6px;
                @include pseudowh($width: 4px, $height: 4px);
                border-radius: 100%;
                background: var(--gradient-color);
                opacity: 0;

                [dir="rtl"] & {
                    right: unset;
                    left: 6px;
                }
            }
        }
    }
}

/* ---------- Step Chart Css ---------- */
.step-chart-box {
    background: var(--gradient-color);
    border-radius: 12px;
    padding: 12px 7px;

    .top-step-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left-box {
            display: flex;
            align-items: center;
            gap: 9px;

            .step-image {
                background-color: rgba(var(--white), 1);
                box-shadow: 0px 3px 4px rgba(51, 131, 239, 0.21);
                border-radius: 6px;
                @include pseudowh($width: 36px, $height: 36px);
                @include flex_common;
            }

            .step-contain {
                h6 {
                    font-weight: 400;
                    font-size: 12px;
                    color: rgba(var(--white), 1);
                    margin-bottom: 3px;
                }

                h4 {
                    font-weight: 600;
                    color: rgba(var(--white), 1);
                }
            }
        }

        .right-box {
            .daily-dropdown {
                .daily-dropdown-btn {
                    background-color: rgba(var(--white), 1);
                    border-radius: 6px;
                    color: rgb(119, 119, 119);
                    font-size: 13px;
                    font-weight: 400;
                    padding: 5px 11px;
                    line-height: 1.3;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:focus-within {
                        box-shadow: none;
                    }

                    &::after {
                        content: "\EA4E";
                        @include font;
                        font-size: 20px;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .chart-box {
        margin-top: 8px;

        img {
            width: 100%;
        }
    }
}

/* ---------- Horizontal Line Css ---------- */
.horizontal-line {
    margin-block: 25px;
    border-top: 1px solid rgb(230, 230, 230);
    opacity: 1;

    [class="dark"] & {
        border-color: rgba(119, 119, 119, 0.15);
    }
}

/* ---------- Category Css ---------- */
.fitness-category-box-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 19px;

    @include mq-max(md) {
        gap: calc(8px + (19 - 8) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        display: block;
        width: 100%;

        .category-box {
            padding: 0;
            display: block;
            overflow: auto hidden;
            text-align: center;

            .category-image {
                height: 72px;
                background-color: rgb(249, 249, 249);
                border-radius: 5px;
                @include flex_common;

                [class="dark"] & {
                    background-color: #212332;
                }

                svg {
                    @include pseudowh($width: 34px, $height: 34px);
                    fill: transparent;
                    stroke: rgba(var(--title), 1);
                    opacity: 0.7;
                    display: block;
                }
            }

            h5 {
                font-weight: 400;
                font-size: 15px;
                color: rgba(var(--title), 1);
                margin-top: 8px;
            }
        }
    }
}

/* ---------- Body Focus Css ---------- */
.body-focus-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px 16px;

    @include mq-max(md) {
        gap: calc(15px + (20 - 15) * ((100vw - 320px) / (600 - 320))) calc(12px + (16 - 12) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        .body-focus-box {
            color: rgba(var(--title), 1);

            .body-image {
                border-radius: 10px;
                margin-bottom: 10px;
                overflow: hidden;
            }

            .body-content {
                h4 {
                    font-size: 15px;
                    margin-bottom: 4px;
                }

                h5 {
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(var(--content), 1);
                }
            }
        }
    }
}

/* ---------- Boost Your Energy Css ---------- */
.boost-energy-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    >li {
        width: 100%;
        display: block;

        .boost-energy-box {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 11px;
            box-shadow: 0px 0px 6px rgba(213, 213, 213, 0.38);
            border-radius: 13px;
            background-color: rgba(var(--white), 1);
            color: rgba(var(--title), 1);

            @include mq-max(md) {
                padding: calc(6px + (11 - 6) * ((100vw - 320px) / (600 - 320)));
                border-radius: calc(7px + (13 - 7) * ((100vw - 320px) / (600 - 320)));
            }

            [class="dark"] & {
                box-shadow: 0px 0px 6px rgba(213, 213, 213, 0.15);
                background-color: #212332;
            }

            .boost-image {
                border-radius: 10px;
                overflow: hidden;
                @include pseudowh($width: 92px, $height: 73px);

                @include mq-max(md) {
                    border-radius: calc(6px + (10 - 6) * ((100vw - 320px) / (600 - 320)));
                }
            }

            .boost-content {
                width: calc(100% - 92px - 8px);

                .time-kg {
                    display: flex;
                    flex-wrap: wrap;
                    color: rgba(var(--dark-gray), 1);
                    margin-top: 4px;
                    gap: 5px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        width: 100%;

                        +li {
                            margin-top: 3px;
                        }

                        i {
                            font-size: 14px;
                            line-height: 1;
                            margin-top: -1px;
                        }

                        span {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 1;
                        }
                    }
                }
            }
        }
    }
}

/* ---------- Weekly Box Css ---------- */
.weekly-box-list {
    >li {
        padding-left: 24px;
        position: relative;

        [dir="rtl"] & {
            padding-left: unset;
            padding-right: 24px;
        }

        &:before {
            @include pos;
            top: 0;
            left: 10px;
            @include pseudowh($width: 1px, $height: 100%);
            border-left: 1px solid #eee;

            [dir="rtl"] & {
                right: 10px;
                left: unset;
            }

            [class="dark"] & {
                border-color: rgba(235, 235, 235, 0.1);
            }
        }

        .weekly-box {
            position: relative;

            &::before {
                @include pos;
                top: -3px;
                left: -22px;
                @include pseudowh($width: 19px, $height: 19px);
                background-color: rgba(var(--white), 1);
                border-radius: 100%;

                [dir="rtl"] & {
                    left: unset;
                    right: -22px;
                }

                [class="dark"] & {
                    background-color: #181923;
                }
            }

            &::after {
                @include pos;
                top: 3px;
                left: -19px;
                @include pseudowh($width: 12px, $height: 12px);
                background-color: rgb(160, 160, 160);
                border-radius: 100%;

                [dir="rtl"] & {
                    left: unset;
                    right: -19px;
                }

                [class="dark"] & {
                    background-color: rgba(235, 235, 235, 0.1);
                }
            }

            .week-number-list {
                display: flex;
                padding-bottom: 23px;
                flex-wrap: wrap;
                gap: 15px;
                overflow: hidden;

                >li {
                    position: relative;

                    a {
                        @include pseudowh($width: 52px, $height: 52px);
                        @include flex_common;
                        background-color: rgb(249, 249, 249);
                        border-radius: 100%;
                        font-weight: 500;
                        font-size: 18px;
                        color: rgba(var(--dark-gray), 1);
                        position: relative;
                        line-height: 1;

                        @include mq-max(md) {
                            @include pseudowh($width: calc(40px + (52 - 40) * ((100vw - 320px) / (600 - 320))), $height: calc(40px + (52 - 40) * ((100vw - 320px) / (600 - 320))));
                            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (600 - 320)));
                        }

                        [class="dark"] & {
                            background-color: #212332;
                            color: #fff;
                        }
                    }

                    +li {
                        &:before {
                            @include pos;
                            left: -50%;
                            border-top: 1px dashed #ebebeb;
                            @include center(vertical);
                            width: 100%;
                            z-index: -1;

                            [class="dark"] & {
                                border-color: rgba(235, 235, 235, 0.1);
                            }
                        }
                    }

                    &.completed {
                        a {
                            background: var(--gradient-color);
                            color: rgba(var(--white), 1);
                        }
                    }

                    &.start {
                        a {
                            color: rgba(var(--theme-color), 1);
                            background-color: rgba(var(--white), 1);
                            z-index: 0;

                            [class="dark"] & {
                                background-color: #212332;
                                color: #fff;
                            }

                            &:before {
                                @include pos;
                                inset: 0;
                                border-radius: 100%;
                                padding: 1px;
                                background: linear-gradient(90.08deg, #1ea6ec 0.07%, #4466f2 91.07%);
                                -webkit-mask-composite: xor;
                                mask-composite: exclude;
                                -webkit-mask:
                                    linear-gradient(#fff 0 0) content-box,
                                    linear-gradient(#fff 0 0);
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.start-button {
    position: fixed;
    bottom: 17px;
    @include center(horizontal);
    width: 100%;
    max-width: 600px;
    padding-inline: 15px;
}

/* ---------- Exercise List Box Css ---------- */
.exercise-box-list {
    li {
        +li {
            padding-top: 17px;
            margin-top: 17px;
            border-top: 1px solid #f2f2f2;

            [class="dark"] & {
                border-color: #212332;
            }

            @include mq-max(md) {
                padding-top: calc(9px + (17 - 9) * ((100vw - 320px) / (600 - 320)));
                margin-top: calc(9px + (17 - 9) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .exercise-box {
            display: flex;
            align-items: center;
            gap: 18px;
            color: rgba(var(--title), 1);

            .exercise-image {
                @include pseudowh($width: 72px, $height: 72px);
                @include flex_common;
                padding: 3px 13px;
                background-color: rgba(var(--light-bg), 1);
                border-radius: 6px;

                @include mq-max(md) {
                    @include pseudowh($width: calc(60px + (72 - 60) * ((100vw - 320px) / (600 - 320))), $height: calc(60px + (72 - 60) * ((100vw - 320px) / (600 - 320))));
                }
            }

            .exercise-contain {
                width: calc(100% - 18px - calc(60px + (72 - 60) * ((100vw - 320px) / (600 - 320))));

                h4 {
                    font-weight: 600;
                    font-size: 17px;
                    margin-bottom: 7px;
                    color: rgba(var(--title), 1);

                    @include mq-max(md) {
                        font-size: calc(15px + (17 - 15) * ((100vw - 320px) / (600 - 320)));
                    }
                }

                h6 {
                    font-weight: 400;
                    font-size: 17px;
                    color: rgba(var(--dark-gray), 1);

                    @include mq-max(md) {
                        font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (600 - 320)));
                    }
                }
            }
        }
    }
}

/* ---------- Exercise Video Box Css ---------- */
.exercise-video-section {
    background-image: url(../images/fitness/exercise-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include pseudowh($width: 100%, $height: 100vh);
}

/* ---------- Gym Category Css ---------- */
.gym-category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    li {
        width: 100%;

        .gym-category-box {
            position: relative;
            border-radius: 14px;
            color: rgba(var(--white), 1);
            display: block;
            overflow: hidden;

            [class="dark"] & {
                color: #fff;
            }

            .gym-contain {
                position: absolute;
                top: 0;
                left: 0;
                @include pseudowh($width: 100%, $height: 104px);
                background: linear-gradient(180deg, #2f2f2f 0%, rgba(78, 78, 78, 0) 100%);
                padding: 14px 22px;

                h5 {
                    font-weight: 400;
                    margin-top: 5px;
                }
            }
        }
    }
}

/* ---------- Gym Category Css ---------- */
.fitness-profile-section {
    padding-top: 55px;

    .fitness-profile-box {
        text-align: center;

        .profile-image {
            @include pseudowh($width: 80px, $height: 80px);
            border-radius: 100%;
            overflow: hidden;
            margin: 0 auto 5px;
        }

        .profile-name {
            h4 {
                margin-bottom: 5px;
                font-size: 18px;
                margin-top: 10px;
            }

            h5 {
                font-weight: 400;
                font-size: 18px;
                color: rgba(var(--content), 1);
                margin-bottom: 29px;
            }

            .edit-profile-btn {
                font-weight: 500;
                font-size: 16px;
                padding: 12px;
                border: 1px solid rgba(var(--theme-color), 1);
                width: 100%;
                display: block;
                border-radius: 6px;
                background-color: rgba(var(--white), 1);
                color: rgba(var(--theme-color), 1);

                [class="dark"] & {
                    background-color: #181923;
                }
            }
        }
    }

    .fitness-box-list {
        margin-top: 22px;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;

        li {
            width: 100%;

            .fitness-menu-box {
                color: rgba(var(--title), 1);
                display: flex;
                align-items: center;
                gap: 19px;

                @include mq-max(md) {
                    gap: calc(13px + (19 - 13) * ((100vw - 320px) / (600 - 320)));
                }

                .fitness-menu-icon {
                    background-color: #f9f9f9;
                    border-radius: 5px;
                    @include pseudowh($width: 45px, $height: 45px);
                    font-size: 20px;
                    @include flex_common;

                    @include mq-max(md) {
                        font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (600 - 320)));
                    }

                    [class="dark"] & {
                        background-color: #212332;
                    }
                }

                .fitness-menu-name {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(100% - calc(37px + (42 - 37) * ((100vw - 320px) / (600 - 320))) - calc(13px + (19 - 13) * ((100vw - 320px) / (600 - 320))));

                    h5 {
                        font-weight: 400;
                        font-size: 16px;
                    }

                    i {
                        font-size: 22px;
                        line-height: 1;

                        @include mq-max(md) {
                            font-size: calc(19px + (22 - 19) * ((100vw - 320px) / (600 - 320)));
                        }
                    }
                }
            }
        }
    }
}

/* ---------- Horizontal Line Css ---------- */
.workout-box-list {
    display: grid;
    gap: 18px;
    grid-template-areas: "myArea myArea";

    li {
        &:last-child {
            grid-area: myArea;
        }

        .workout-box {
            background: #f9f9f9;
            border-radius: 9px;
            padding: 10px;

            [class="dark"] & {
                background-color: #212332;
            }

            .workout-top-box {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 8px;

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                }

                .workout-icon {
                    @include pseudowh($width: 40px, $height: 40px);
                    background-color: rgba(var(--white), 1);
                    border-radius: 6px;
                    @include flex_common;
                    font-size: 24px;

                    [class="dark"] & {
                        background-color: rgba(119, 119, 119, 0.15);
                    }

                    i {
                        background: linear-gradient(90.08deg, #1ea6ec 0.07%, #4466f2 91.07%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            h2 {
                font-weight: 400;
                font-size: 20px;
                color: #a0a0a0;
            }
        }
    }
}

/* ---------- Music Control Css ---------- */
.music-control-section {
    .bg-image {
        @include pseudowh($width: 100%, $height: 100vh);
        object-fit: cover;
    }

    .music-control-box {
        position: fixed;
        bottom: 66px;
        @include center(horizontal);
        z-index: 1;
        width: 100%;
        color: rgba(var(--white), 1);
        max-width: 600px;
        padding-inline: 15px;

        [class="dark"] & {
            color: #fff;
        }

        .music-row {
            margin-bottom: 16px;

            span {
                background-color: rgba(var(--white), 0.31);
                @include pseudowh($width: 100%, $height: 4px);
                border-radius: 100px;
                position: relative;

                [class="dark"] & {
                    background-color: rgba(255, 255, 255, 0.31);
                }

                &::before {
                    @include pos;
                    @include center(vertical);
                    left: 50px;
                    @include pseudowh($width: 18px, $height: 18px);
                    background-color: rgba(var(--white), 1);
                    border-radius: 100%;

                    [class="dark"] & {
                        background-color: #fff;
                    }

                    [dir="rtl"] & {
                        left: unset;
                        right: 50px;
                    }
                }
            }
        }

        .music-number {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            span {
                font-weight: 400;
                font-size: 12px;
                color: rgba(var(--content), 1);
                line-height: 1;
            }
        }

        .music-control {
            @include flex_common;
            gap: 42px;

            a {
                color: rgba(var(--white), 1);

                [class="dark"] & {
                    color: #fff;
                }

                i {
                    font-size: 31px;
                }
            }
        }
    }
}