/*===================== 
   5.13 NFT Application CSS
==========================*/
/* ---------- Home CSS ---------- */
.home-section {
    .home-box {
        border-radius: 10px;
        overflow: hidden;
        position: relative;

        .home-container {
            position: absolute;
            top: 0;
            left: 0;
            @include pseudowh($width: 50%, $height: 100%);
            display: flex;
            align-items: center;
            padding: 30px;

            [dir="rtl"] & {
                text-align: left;
            }

            @include mq-max(md) {
                padding: calc(14px + (30 - 14) * ((100vw - 320px) / (600 - 320)));
                @include pseudowh($width: calc(62% + (50 - 62) * ((100vw - 320px) / (600 - 320))), $height: 100%);
            }

            h4 {
                font-weight: 600;
                font-size: 16px;
                color: rgba(var(--white), 1);
                line-height: 1.5;
                margin-bottom: 16px;

                [class="dark"] & {
                    color: #fff;
                }
            }

            .explore-btn {
                font-weight: 500;
                font-size: 14px;
                background-color: rgba(var(--white), 1);
                padding: 8px 16px;
                border-radius: 6px;
                color: rgba(var(--title), 1);

                [class="dark"] & {
                    background-color: #efefef;
                    color: #222;
                }
            }
        }
    }
}

/* ---------- Category CSS ---------- */
.nft-category-section {
    .category-box-list {
        display: flex;
        align-items: center;
        gap: 13px;
        overflow: auto;
        padding-bottom: 7px;

        li {
            .category-box {
                display: block;
                padding: 0;

                .category-image {
                    @include pseudowh($width: 60px, $height: 60px);
                    border-radius: 100%;
                    margin-bottom: 9px;

                    @include mq-max(md) {
                        @include pseudowh($width: calc(55px + (60 - 55) * ((100vw - 320px) / (600 - 320))), $height: calc(55px + (60 - 55) * ((100vw - 320px) / (600 - 320))));
                    }

                    img {
                        border-radius: 100%;
                        @include pseudowh;
                        object-fit: contain;
                    }
                }

                h5 {
                    font-weight: 500;
                    font-size: 15px;
                    text-align: center;
                    text-transform: capitalize;
                    color: rgba(var(--content), 1);
                }
            }
        }
    }
}

/* ---------- Top collection CSS ---------- */
.top-collection-list {
    li {
        +li {
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid rgb(237, 237, 237);

            @include mq-max(md) {
                margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
                padding-top: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
            }
        }

        .top-collection-box {
            display: flex;
            align-items: center;
            gap: 9px;
            color: rgba(var(--title), 1);

            .collection-image {
                @include pseudowh($width: 48px, $height: 48px);
                border-radius: 10px;
                overflow: hidden;

                img {
                    @include pseudowh;
                    object-fit: cover;
                }
            }

            .collection-content {
                width: calc(100% - 48px - 9px);
                @include flex_common ($dis: flex, $align: center, $justify: space-between);

                h4 {
                    font-weight: 500;
                    margin-bottom: 5px;
                    font-size: 15px;
                }

                h5 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);
                    font-size: 15px;

                    &.danger {
                        color: #ff2626;

                        [dir="rtl"] & {
                            text-align: left;
                        }
                    }

                    &.success {
                        color: #038800;

                        [dir="rtl"] & {
                            text-align: left;
                        }
                    }
                }

                .next-icon {
                    @include pseudowh($width: 30px, $height: 30px);
                    border-radius: 100%;
                    background-color: rgba(var(--light-bg), 1);
                    @include flex_common;
                    font-size: 20px;

                    @include mq-max(md) {
                        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (600 - 320)));
                    }
                }
            }
        }

        &.total-box {
            @include flex_common ($dis: flex, $align: center, $justify: space-between);
            position: relative;
            padding: 0;
            margin-top: 15px;
            padding-top: 15px;
            border-top: 1px solid rgb(237, 237, 237);
            box-shadow: none;
            left: unset;
            bottom: unset;
            transform: unset;

            @include mq-max(md) {
                margin-top: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
                padding-top: calc(10px + (15 - 10) * ((100vw - 320px) / (600 - 320)));
            }

            h4 {
                color: rgba(var(--content), 1);
            }

            h5 {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}

/* ---------- Notable Collection CSS ---------- */
.notable-collection-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 17px;
    overflow: auto;
    padding-bottom: 11px;

    li {
        .notable-collection-box {
            display: block;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            @include pseudowh($width: 154px, $height: 154px);

            .main-image {
                @include pseudowh;
                object-fit: cover;
            }

            .collection-content {
                position: absolute;
                bottom: 8px;
                padding: 8px 12px;
                @include flex_common;
                background-color: rgba(var(--white), 1);
                @include center(horizontal);
                border-radius: 5px;
                color: rgba(var(--title), 1);
                gap: 4px;
                width: calc(100% - 16px);

                [class="dark"] & {
                    color: #222;
                    background-color: #fff;
                }

                h6 {
                    font-weight: 500;
                    font-size: 14px;
                    white-space: nowrap;
                }

                img {
                    @include pseudowh($width: 16px, $height: 16px);
                }
            }
        }
    }
}

/* ---------- Collection Product CSS ---------- */
.collection-title {
    h4 {
        font-weight: 600;
        font-size: 16px;
    }

    p {
        font-weight: 400;
        font-size: 14px;
        margin: 6px 0 0;
        color: rgba(var(--content), 1);
        line-height: 1.5;
    }
}

.collection-product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;

    @include mq-max(md) {
        gap: calc(9px + (15 - 9) * ((100vw - 320px) / (600 - 320)));
    }

    li {
        .collection-product-box {
            box-shadow: 0px 0px 6px rgba(213, 213, 213, 0.38);
            border-radius: 7px;
            padding: 7px;
            display: block;
            color: rgba(var(--title), 1);
            height: 100%;

            [class="dark"] & {
                box-shadow: 0px 0px 6px rgba(60, 60, 60, 0.38);
            }

            .collection-image {
                border-radius: 10px;
                margin-bottom: 9px;
                overflow: hidden;
            }

            .collection-content {
                h5 {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    margin-bottom: 5px;
                    font-size: 14px;

                    img {
                        @include pseudowh($width: 16px, $height: 16px);
                    }
                }

                h6 {
                    font-weight: 400;
                    color: rgba(var(--content), 1);

                    +h6 {
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}

/* ---------- Trending Category CSS ---------- */
.trending-category-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    overflow: auto;

    li {
        a {
            padding: 11px 19px;
            display: block;
            font-weight: 400;
            font-size: 14px;
            background: rgb(250, 250, 250);
            border-radius: 6px;
            color: rgba(var(--content), 1);

            [class="dark"] & {
                background-color: #212325;
            }
        }
    }
}

/* ---------- Wallet Profile CSS ---------- */
.wallet-profile-section {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 14px 17px;
    overflow: hidden;

    [class="dark"] & {
        background-color: #212325;
    }

    .wallet-profile-box {
        display: flex;
        align-items: center;
        gap: 10px;

        .wallet-image {
            @include pseudowh($width: 92px, $height: 92px);
            border-radius: 11px;
            overflow: hidden;
        }

        .wallet-content {
            width: calc(100% - 92px - 10px);

            h4 {
                font-weight: 600;
                margin-bottom: 6px;
            }

            h5 {
                font-weight: 400;
                font-size: 16px;

                @include mq-max(md) {
                    font-size: calc(15px + (16 - 15) * ((100vw - 320px) / (600 - 320)));
                }
            }

            h6 {
                display: flex;
                align-items: center;
                gap: 4px;
                font-weight: 400;
                font-size: 14px;
                margin-top: 12px;
                color: rgba(var(--content), 1);

                img {
                    @include pseudowh($width: 14px, $height: 14px);
                }
            }
        }
    }

    .wallet-money-list {
        margin-top: 16px;
        display: flex;
        align-items: center;
        gap: 12px;
        overflow: auto;

        li {
            @include pseudowh($width: 70px, $height: 70px);
            @include flex_common;
            background-color: rgba(var(--white), 1);
            border-radius: 6px;

            [class="dark"] & {
                background-color: #151515;
            }

            .wallet-money-box {
                display: block;
                text-align: center;

                i {
                    color: rgba(var(--theme-color), 1);
                    font-size: 26px;
                    line-height: 1;

                    @include mq-max(md) {
                        font-size: calc(23px + (26 - 23) * ((100vw - 320px) / (600 - 320)));
                    }
                }

                h6 {
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(var(--title), 1);
                    line-height: 1;
                }
            }
        }
    }
}

/* ---------- Profile CSS ---------- */
.nft-profile-box {
    .profile-image {
        @include pseudowh($width: 208px, $height: 146px);
        margin: 0 auto 15px;
    }

    .profile-content {
        h4 {
            margin-bottom: 13px;
            font-weight: 600;
        }

        p {
            color: rgba(var(--content), 1);
            font-weight: 400;
            font-size: 14px;
            line-height: 1.5;
            margin: 0;
        }
    }
}

/* ---------- Product Details CSS ---------- */
.product-details-box {
    .product-image {
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 19px;
    }

    .product-contain {
        h3 {
            font-weight: 600;
            font-size: 20px;

            @include mq-max(md) {
                font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (600 - 320)));
            }
        }

        h4 {
            font-weight: 400;
            font-size: 15px;
            margin-top: 5px;
            margin-bottom: 4px;

            @include mq-max(md) {
                font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (600 - 320)));
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 12px;
            color: rgba(var(--content), 1);
        }

        .social-media-list {
            display: flex;
            align-items: center;
            gap: 14px;

            li {
                a {
                    font-size: 24px;
                    color: rgba(var(--content), 1);
                    line-height: 1;

                    @include mq-max(md) {
                        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (600 - 320)));
                    }
                }
            }
        }
    }
}

/* ---------- Product Details Content Tab CSS ---------- */
.properties-box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px;

    li {
        width: 100%;

        .properties-box {
            text-align: center;
            border: 1px solid rgb(235, 235, 235);
            border-radius: 6px;
            padding: 7px;

            [class="dark"] & {
                border-color: #212325;
            }

            h4 {
                font-weight: 400;
                color: rgba(var(--theme-color), 1);
                margin-bottom: 8px;
            }

            h5 {
                font-weight: 600;
                margin-bottom: 4px;
                font-size: 15px;
            }

            h3 {
                font-weight: 400;
                font-size: 16px;
                color: rgba(var(--content), 1);
            }
        }
    }
}

.offer-table {
    margin: 0;

    thead {
        tr {
            th {
                border: none;
                font-weight: 400;
                font-size: 13px;
                color: rgba(var(--content), 1);
                padding: 9px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border: none;
                }
            }

            td {
                padding: 9px;
                font-weight: 400;
                font-size: 13px;
                white-space: nowrap;

                [class="dark"] & {
                    color: rgb(191, 194, 200);
                    border-bottom-color: #212325;
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    color: rgba(var(--theme-color), 1);
                }

                .price-box {
                    h5 {
                        font-size: 13px;
                        margin-bottom: 3px;
                        white-space: nowrap;
                    }

                    h6 {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.info-box-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    li {
        @include flex_common ($dis: flex, $align: center, $justify: space-between);
        width: 100%;

        h4 {
            font-weight: 400;

            @include mq-max(md) {
                font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
            }
        }
    }
}

/* ---------- Listing Price Bottom Box CSS ---------- */
.listing-price-bottom {
    position: fixed;
    bottom: 0;
    @include center(horizontal);
    background-color: rgba(var(--white), 1);
    width: 100%;
    max-width: 600px;
    padding: 16px;
    box-shadow: 0px 0px 13px rgba(var(--black), 0.04);

    [class="dark"] & {
        background-color: #212325;
    }

    .listing-price-title {
        font-weight: 400;
        font-size: 18px;
        color: rgba(var(--content), 1);
        margin-bottom: 13px;

        @include mq-max(md) {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (600 - 320)));
        }

        span {
            font-weight: 600;
            color: rgba(var(--title), 1);
        }
    }

    .listing-price-button-group {
        display: flex;
        align-items: center;
        gap: 15px;

        @include mq-max(md) {
            gap: calc(8px + (15 - 8) * ((100vw - 320px) / (600 - 320)));
        }

        a {
            width: 100%;
            text-align: center;
            padding: 14px;
            border-radius: 6px;
            font-weight: 500;
            font-size: 14px;

            &.buy-btn {
                border: 1px solid transparent;
                color: rgba(var(--white), 1);
                background-color: rgba(var(--title), 1);

                [class="dark"] & {
                    background-color: #151515;
                    color: #fff;
                }
            }

            &.offer-btn {
                border: 1px solid rgba(var(--title), 1);
                color: rgba(var(--title), 1);

                [class="dark"] & {
                    border-color: rgba(var(--title), 0.3);
                }
            }
        }
    }
}

/* ---------- Profile Box CSS ---------- */
.nfy-profile-box {
    margin-top: -50px;

    .nft-profile-image {
        @include pseudowh($width: 100px, $height: 100px);
        border-radius: 10px;
        overflow: hidden;
        margin: 0 auto 22px;
    }

    .nft-profile-content {
        text-align: center;

        h2 {
            font-weight: 500;
            color: rgba(var(--title), 1);
            @include flex_common;
            gap: 9px;
            margin-bottom: 8px;

            img {
                @include pseudowh($width: 20px, $height: 20px);
                object-fit: contain;
            }
        }

        p {
            font-weight: 400;
            font-size: 14px;
            color: rgba(var(--content), 1);
            margin: 0 0 12px;
            line-height: 1.5;
        }

        .social-media-list {
            @include flex_common;
            gap: 14px;

            li {
                a {
                    display: flex;
                    font-size: 24px;
                    color: rgba(var(--content), 1);
                    line-height: 1;

                    i {
                        line-height: 1;
                    }
                }
            }
        }
    }
}

/* ---------- Details Box CSS ---------- */
.detail-box-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;

    li {
        position: relative;
        text-align: center;

        &:nth-child(even) {
            &::before {
                @include pos;
                left: 0;
                @include center(vertical);
                @include pseudowh($width: 1px, $height: 80%);
                border-left: 1px solid rgb(227, 227, 227);

                [class="dark"] & {
                    border-left: 1px solid rgba(227, 227, 227, 0.15);
                }
            }
        }

        .details-box {
            color: rgba(var(--title), 1);

            h5 {
                margin-bottom: 6px;
                font-weight: 600;
                font-size: 16px;

                @include mq-max(md) {
                    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (600 - 320)));
                }
            }

            h6 {
                font-weight: 500;
                font-size: 14px;
                color: rgba(var(--content), 1);
            }
        }
    }
}

/* ---------- Product Content Tab CSS ---------- */
.nft-tab-content {
    .item-content-box {
        .search-form-box {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 28px;

            .form-box {
                position: relative;
                width: calc(100% - 10px - 50px);

                .form-control {
                    padding: 17px 17px 17px 43px;
                    font-weight: 400;
                    font-size: 14px;
                    border: 1px solid #f2f2f2;
                    border-radius: 6px;
                    color: rgba(var(--title), 1);
                    line-height: 1;

                    [class="dark"] & {
                        border-color: #212325;
                        background-color: #212325;
                    }

                    &::placeholder {
                        color: rgba(var(--content), 1);
                    }
                }

                i {
                    position: absolute;
                    @include center(vertical);
                    left: 13px;
                    font-size: 20px;
                    color: rgba(var(--content), 1);
                }
            }

            .filter-button {
                @include pseudowh($width: 50px, $height: 50px);
                background-color: rgba(var(--theme-color), 1);
                border-radius: 6px;
                color: rgba(var(--white), 1);
                font-size: 20px;
                border: 1px solid transparent;
            }
        }
    }

    .analytics-tab-box {
        .analytics-vol-list {
            display: flex;
            align-items: center;
            gap: 18px;
            margin-bottom: 26px;

            li {
                width: 100%;

                .analytics-vol-box {
                    padding: 15px 10px;
                    border: 1px solid #ebebeb;
                    border-radius: 9px;

                    [class="dark"] & {
                        border-color: #212325;
                    }

                    h5 {
                        margin-bottom: 9px;
                        color: rgba(var(--content), 1);
                    }

                    h4 {
                        font-weight: 600;
                        font-size: 18px;
                        @include flex_common ($dis: flex, $align: center, $justify: space-between);

                        @include mq-max(md) {
                            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (600 - 320)));
                        }

                        span {
                            color: #038800;
                        }
                    }
                }
            }
        }
    }
}

.chart-box {
    .chart-title {
        @include flex_common ($dis: flex, $align: center, $justify: space-between);

        h5 {
            color: rgba(var(--title), 1);
            font-size: 16px;
            font-weight: 600;
        }

        .chart-dropdown-box {
            .chart-dropdown-btn {
                padding: 8px 13px;
                background-color: #f9f9f9;
                border-radius: 6px;
                color: rgba(var(--content), 1);
                @include flex_common;

                &:focus-within {
                    box-shadow: none;
                }

                [class="dark"] & {
                    background-color: #212325;
                    border-color: #212325;
                }
            }

            .chart-dropdown-menu {
                width: 100%;
                min-width: unset;
                background-color: #f9f9f9;
                border: none;
                padding: 7px;

                [class="dark"] & {
                    background-color: #212325;
                    border-color: #212325;
                }

                li {
                    +li {
                        margin-top: 12px;
                    }

                    .dropdown-item {
                        font-size: 14px;
                        padding: 0;
                        color: rgba(var(--content), 1);
                        font-weight: 500;
                        text-align: center;
                        line-height: 1;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}